name: FastAPI CI-CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify FastAPI app
        run: |
          ls -l
          python --version
          test -f main.py
          echo "main.py exists"

      - name: Debug Docker username
        run: |
          echo "Docker user is: '${{ secrets.DOCKER_USERNAME }}'"

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/todo-jwt:latest1 .

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/todo-jwt:latest1

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Deploy application
        
        run: |
           pwd
           ls -la
           docker compose -f docker-compose.yml down
           docker compose -f docker-compose.yml pull
           docker compose -f docker-compose.yml up -d --build
